services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./imports:/imports

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: leepaolan@violetsys.com #TODO : insert your email here
      PGADMIN_DEFAULT_PASSWORD: mishima #TODO : insert your password here
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
