.carrousel {
    /* left: 10rem; */
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    outline: red solid 2px;
    padding: 0 3.125em 0 5em;
}

.carrousel-slide {
    position: relative;
    height: 25%;
    width: 25%; 
    opacity: 0.3;
    transition: transform 0.4s ease;
}

.carrousel-slide.active {
    opacity: 1;
}

.carrousel-slide img {
    /* display: block; */
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.carrousel button {
    position:absolute;
    height: 3rem;
    width: 3rem;
    font-size: 10rem;
    z-index: 2;
    cursor:pointer;
    color: red;
    transform: translateY(-50%);
    top: 50%;
}

.carrousel-container {
    height: 290px;
    width: 100%;
    position: relative;
    padding: 20px;
    /* flex: 0 0 calc(100% / 4); */
    flex-wrap: nowrap;
    transition: transform 0.4s ease;
}

.carrousel li {
    list-style: none;
}

#prev {
    left: 5px;
}

#next, #next-artist, #next-album, #next-track {
    right:5px;
}

.album-card-carrousel {
    overflow: hidden;
    position: relative;
    opacity: 0.3;
    transform: scale(0.95);
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.album-card-carrousel.active {
    opacity: 1;
    transform: scale(1);
}

/* PAGE ACCUEIL
***************************/
.accueil main section > h2 {
    font-family: 'Rammetto One', sans-serif;
    font-size: 1.875rem;
    color: var(--noir);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.accueil .album-card-carrousel {
    background-color: var(--blanc);
    padding: 15px;
    border-radius: 10px;
    color: var(--noir);
    text-align: center;
    position: relative
}
.accueil .album-card-carrousel img {
    margin-top: 10px;
    border-radius: 8px;
}
.accueil .album-card-carrousel {
    background-color: var(--blanc);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: var(--noir);
    transition: transform 0.2s ease;
}
.accueil .album-card-carrousel:hover {
    transform: scale(1.05);
}
.accueil .album-cover {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.accueil #albums-container-carrousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0 5.125em 3.125em 3.125em;
}

.accueil .album-card-carrousel {
    /* display: flex;
    align-items: center; */
    gap: 1.2em;
    width: 25em;
    height: 15em;
    background-color: var(--gris-fonce);
    padding: 1em 1.5em;
    border-radius: 0.75em;
    color: var(--blanc);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.accueil .album-card:hover {
    transform: scale(1.02);
}

.accueil .album-card img, .accueil .album-cover {
    width: 75px;
    height: 75px;
    border-radius: 0.5em;
    object-fit: cover;
    flex-shrink: 0;
}