.carrousel {
    /* left: 10rem; */
    height: 100%;
    width: 100%;
    position: relative
}

.carrousel-slide {
    position: relative;
    height: 25%;
    width: 25%; 
    opacity: 0.3;
    transition: transform 0.3s cubic-bezier(.4,.79,.61,.96);
    transform: translate3d(0, 0, 0);
}

.carrousel-slide.active {
    opacity: 1;
}

.carrousel-slide img {
    display: block;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}

.carrousel button {
    position:absolute;
    height: 3rem;
    width: 3rem;
    font-size: 10rem;
    z-index: 2;
    cursor:pointer;
    color: red;
    transform: translateY(-50%);
    top: 50%;
}

.carrousel-container {
    height: 290px;
    width: 100%;
    position: relative;
    padding: 20px;
}

.carrousel li {
    list-style: none;
}

#prev {
    left: 5px;
}

#next {
    right:5px;
}