/* popup ALBUM */

.album-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.album-popup.hidden {
    display: none;
}

.album-popup-content {
    background: var(--blanc);
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    position: relative;
}

.album-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

#popupTracksList {
    margin-top: 1em;
    padding-left: 1.2em;
}
