.carrousel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    outline: red solid 2px;
    padding: 0 3.125em 0 5em;
}

.carrousel-slide {
    position: relative;
    height: 25%;
    width: 25%; 
    opacity: 0.3;
}

.carrousel-slide.active {
    opacity: 1;
}

.carrousel-slide img {
    height: 100%;
    width: 100%;
}

.carrousel button {
    position:absolute;
    height: 3rem;
    width: 3rem;
    font-size: 10rem;
    z-index: 2;
    cursor:pointer;
    color: red;
    transform: translateY(-50%);
    top: 50%;
}

.carrousel-container {
    height: 290px;
    width: 100%;
    position: relative;
    padding: 20px;
    flex-wrap: nowrap;
}

.carrousel li {
    list-style: none;
}

#prev {
    left: 5px;
}

#next, #next-artist, #next-album, #next-track {
    right:5px;
}

.album-card-carrousel {
    overflow: hidden;
    position: relative;
    opacity: 0.3;
    transform: scale(0.95);
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.album-card-carrousel.active {
    opacity: 1;
    transform: scale(1);
}

.no-animation .album-card-carrousel {
    transition: none !important;
}


.accueil .album-card-carrousel {
    background-color: var(--blanc);
    padding: 15px;
    border-radius: 10px;
    color: var(--noir);
    text-align: center;
    position: relative
}
.accueil .album-card-carrousel img {
    margin-top: 10px;
    border-radius: 8px;
}
.accueil .album-card-carrousel {
    background-color: var(--blanc);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: var(--noir);
}
.accueil .album-card-carrousel:hover {
    transform: scale(1.05);
}
.accueil .album-cover {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.accueil #albums-container-carrousel {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0 5.125em 3.125em 3.125em;
}

.accueil .album-card-carrousel {

    gap: 1.2em;
    width: 25em;
    height: 15em;
    background-color: var(--gris-fonce);
    padding: 1em 1.5em;
    border-radius: 0.75em;
    color: var(--blanc);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.accueil .album-card:hover {
    transform: scale(1.02);
}

.accueil .album-card img, .accueil .album-cover {
    width: 75px;
    height: 75px;
    border-radius: 0.5em;
    object-fit: cover;
    flex-shrink: 0;
}