raw_tracks.csv
raw_tracks_cleaned.csv
raw_albums_cleaned.csv
raw_artists_cleaned.csv
questionnaire.csv
raw_echonest.csv
raw_albums.csv
new_albums.csv
tracks.csv
echonest.csv
features.csv
genres.csv
raw_artists.csv
raw_genres.csv
clean_echonest.csv
genre_clean.csv
questionnaire_cleaned.csv
tracks_clean.csv
desktop.ini
postgres.session.sql
*.csv
.vscode/
